type initVEOSService, domain;
type initVEOSService_exec, exec_type, file_type,vendor_file_type;
type initVEOSService_api, service_manager_type;


allow initVEOSService initVEOSService_api:service_manager add;
allow initVEOSService servicemanager:binder {call transfer};
allow init initVEOSService_exec:file { getattr open read execute map };

init_daemon_domain(initVEOSService);
